<div class="container-fluid">
    <div class="row">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {{#each product.pictures }}
                <!-- More on @first variable here https://handlebarsjs.com/api-reference/data-variables.html#first -->
                <div class="carousel-item {{#if @first}} active{{/if}}">
                    <div class="carousel-img">
                        <img class="d-block mx-auto" src="{{ this }}">
                    </div>
                </div>
                {{/each}}
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div><!-- /#carousel -->
    </div>
    <div class="row">
        <div class="col-12">
            <h1>{{ product.name }}</h1>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ product.city }}</p>
            <p>{{ product.description }}</p>
            {{#if isAuthenticated }}
            <a href="/messages/products/{{ product._id }}/users/{{ user._id }}" class="btn btn-primary">Contact</a>
            {{/if}}
        </div>
    </div>
</div>